/* цвет основного текста #212121; */
/* цвет вторичного цвета  #757575; */
/* синиий #2196F3 */

:root {
  --primery-text-color: #212121;
  --secondly-text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --footer-color: #2f303a;
  --bcg-active-button: #f5f4fa;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

body {
  background-color: var(--white-color);
  color: var(--primery-text-color);
  font-family: Roboto, sans-serif;
}

.section-header {
  border-bottom: 1px solid #ececec;
}

.logo {
  text-decoration: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}
span {
  color: var(--accent-color);
}

ul {
  list-style-type: none;
}
ul {
  margin-left: 0;
  padding-left: 0;
}

a {
  color: var(--primery-text-color);
  text-decoration: none;
  cursor: default;
}
/* ---body--- */

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* ---header--- */
.header {
  display: flex;
  align-items: center;
}

.nav-container {
  display: flex;
  margin-right: 331px;
}

/* site nav */

.site-nav {
  display: flex;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.site-nav a {
  color: var(--primary-text-color);
  text-decoration: none;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

/* auth-nav */

.auth-nav {
  display: flex;
}

.auth-item:not(:last-child) {
  margin-right: 50px;
}
.auth-nav a {
  color: var(--secondly-text-color);
  text-decoration: none;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
}
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}

/* HeroTitles */

/* .hero {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  background-color: #2f303a;
  color: var(--white-color);
  padding-top: 200px;
  padding-bottom: 200px;
}
.h-hero {
  padding-right: 237px;
  padding-left: 237px;
  margin-bottom: 30px;
}

.h-hero h1 {
  font-family: Roboto;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  max-width: 650px;
} */

.hero {
  background-color: #2f303a;
  color: var(--white-color);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}
.h-hero {
  margin-bottom: 30px;
  margin-left: 237px;
  margin-right: 237px;
  max-width: 650px;
}
.h-hero h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  color: var(--white-color);
  background-color: var(--accent-color);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
  border-radius: 4px;
}

/* Sections */

.section-list {
  display: flex;
}
.section-list .item {
  width: 270px;
}
.section-list .item:not(:last-child) {
  margin-right: 30px;
}
.section-advantages .title {
  margin-bottom: 10px;
}
.section-advantage {
  padding-top: 94px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section-work {
  padding-top: 94px;
  padding-bottom: 94px;
}
.work-items {
  display: flex;
}
.work-list {
  display: flex;
}
.section-title {
  text-align: center;
  margin-bottom: 50px;
}
.work-list .work-items:not(:last-child) {
  margin-right: 30px;
}

.our-work .work-list {
  margin-top: 50px;
  margin-bottom: 94px;
}
.section-team {
  background-color: #f5f4fa;
  text-align: center;
}

.section-title {
  color: var(--primery-text-color);
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
}

.section-list .title {
  color: var(--primary-text-color);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.section-list p {
  color: var(--secondly-text-color);
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.72;
}

/* Our team */
.comand {
  display: flex;
  margin-top: 50px;
}
.section-team {
  padding-bottom: 94px;
  padding-top: 94px;
}

.text-team {
  color: var(--primery-text-color);
  padding: 30px;
}
.team-items {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  background-color: var(--white-color);
}

.team-items p {
  color: var(--secondly-text-color);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  line-height: 1.2;
  margin-top: 10px;
}

.team-items h3 {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
}

.team-items:not(:last-child) {
  margin-right: 30px;
}

.title-team {
  margin-bottom: 10px;
}
/* Footer */
.footer {
  background-color: var(--footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo-finish {
  color: var(--white-color);
  text-decoration: none;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
}

.footer-logo {
  margin-bottom: 20px;
}

.address {
  color: var(--white-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 9px;
  letter-spacing: 0.03em;
}
.link-finish {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
}
.info-finish li {
  margin-bottom: 9px;
}
.footer .link-finish:hover,
.footer .link-finish:focus {
  color: var(--accent-color);
  text-decoration: none;
}

/* оформление  вкладки портфолио */

/* Buttons Portfolio */

.button-portfolio {
  margin-bottom: 56px;
  text-align: center;
}
.button-port {
  background-color: var(--bcg-active-button);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: none;
  padding: 8px 22px;
  border-radius: 4px;
}
.button-port:not(:last-child) {
  margin-right: 8px;
}
.button-port:focus,
.button-port:hover {
  color: var(--white-color);
  background-color: var(--accent-color);
}

/* Sections Portfolio */

.portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -30px;
  margin-right: -30px;
}

.card {
  width: (100% / 3 - 30px);
  margin-bottom: 30px;
  margin-right: 30px;
}

.portfolio .title-port {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio p {
  color: var(--secondly-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;

  letter-spacing: 0.03em;
}

.title-port {
  margin-bottom: 4px;
}

.text-port {
  padding: 20px 24px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.section-portfolio {
  padding-bottom: 94px;
  padding-top: 94px;
}
